//- includes/content.jade
section.content
    .inner
        .col-2.col-left
            h2 Hallo Welt
            p Zur Zeit ist hier noch eine Baustelle
        .col-2.col-right
            h2 Hello World
            p This is under construction right now.
