//- includes/content.jade
section.content
    .inner
        h2 Welcome
        p
            | This is the GitHub playground of&nbsp;
            a(href='http://www.goyippi.net') goYippi design
            | , a graphic and web design studio from Berlin, Germany.
        .line
        .col-2.col-left
            h2 goYippi Repositories
            #github-repos
        .col-2.col-right
            h2 goYippi Gists
            #github-gists
