//- includes/footer.jade
footer.footer
    .inner
        p
            a(href="http://goyippi.net/impressum/") Impressum | Imprint

script(src='assets/js/gh3.js')
script(src='assets/js/functions.js')
