//- includes/header.jade
header.header
    .inner
        h1.logo
            img(src="assets/images/goyippi-labs-logo_print.png" width="240" height="48" alt="goYippi Labs")

        .col-1.col-60-30.header-content
            .col-2.col-left
                h2 Welcome
                p
                    | This is the GitHub playground of&nbsp;
                    a(href='http://www.goyippi.net') goYippi design
                    | ,
                    br
                    | a graphic and web design studio from Berlin, Germany.
            .col-2.col-right
                img(src="assets/images/goyippi-labs-illustration.png" width="300" height="163" alt="goYippi Labs - Illustration")
