//- includes/html-header.jade
head
    meta(charset='utf-8')
    title goYippi labs
    link(href='assets/css/main.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
