//- includes/html-header.jade
head
    meta(charset='utf-8')
    title goYippi labs | The github playground of goYippi design | Berlin
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='assets/css/styles.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')

    != "<!--[if  lt IE 9]>"
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
    link(rel='stylesheet', href='assets/css/styles-ie.css')
    != "<![endif]-->"
