// Default Fonts & Colors
$font-stack: 'Droid Sans', Arial, sans-serif;

$primary-color: #3c3c3b;
$secondary-color: #878787;
$inverted-color: #fff;
$markup-color: #41a4b0;

$goyippi-red: #c8481b;
$goyippi-green: #9cc100;
$goyippi-violet: #aa58ce;

$primary-width: 930px;
$default-padding: 20px;

$breakpoint-small: 560px;

// Clearfix Placeholder
%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}
