// Default Fonts & Colors
$font-stack: 'Droid Sans', Arial, sans-serif;

$primary-color: #3c3c3b;
$secondary-color: #878787;
$inverted-color: #fff;
$markup-color: #2da6dd;

$goyippi-green: #86b83d;
$goyippi-tan: #c9a575;
$goyippi-red: #df454b;
$goyippi-violet: #ba5096;

$primary-width: 1000px;
$default-padding: 20px;

$breakpoint-medium: 760px;
$breakpoint-small: 460px;

// Clearfix Placeholder
%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}
