// Imports
@import 'vars';

.ie-hidden {
    display: none;
}

.inner {
    width: $primary-width;
}

.blog-box {
    padding: 0;

    &:before {
        display: none;
    }

    &:after {
        display: none;
    }
}
