//- includes/content.pug
section.content
    .inner
        .col-1
            .col-2.col-left
                h2 goYippi Repositories
                #github-repos.github-feed(data-username='goYippi-labs', data-type='repos', data-items='5')
                a.link-button(href='https://github.com/goYippi-labs') » View all repositories
            .col-2.col-right
                h2 goYippi Gists
                #github-gists.github-feed(data-username='Christian-Roth', data-type='gists', data-items='5')
                a.link-button(href='https://gist.github.com/Christian-Roth') » View all gists
        .line.no-margin-top
        .col-1
          .col-2.col-left
              h2 goYippi Tutorials
              a.link-button(href='https://goyippi-labs.github.io/tutorials/wordpress/') » View WordPress Tutorials
          .col-2.col-right
              h2 goYippi FAQs
              p
                  a(href='https://goyippi-labs.github.io/tutorials/faq/browser-cache') » Browser-Cache leeren oder ignorieren <br />
                  a(href='https://goyippi-labs.github.io/tutorials/faq/e-mail-whitelist') » E-Mails auf eine Whitelist setzen
        .line.no-margin-top
        .col-1.blog-box.goyippi-labs-blog
            h2 goYippi labs Blog
            #goyippi-blog.blog-feed(data-url='https://www.goyippi.net/tag/goyippi-labs/feed/', data-items='3')
            a.link-button(href='https://www.goyippi.net/tag/goyippi-labs/') » View all Blog Posts
