//- includes/footer.pug
footer.footer
    .inner
      .contact
        h3 Contact
        p <span class="no-wrap"><strong>goYippi design</strong></span> <span class="no-wrap">Kati Meden & Christian Roth GbR</span> <span class="no-wrap">Galenusstraße 15</span> <span class="no-wrap">13187 Berlin</span> <span class="no-wrap">Germany</span>
          br
          | <span class="no-wrap">Phone: <a href="tel:+493040045105">+49 (0)30 40 04 51 05</a></span> <span class="no-wrap"><a href="mailto:&#105;nfo&#64;&#103;o&#121;&#105;ppi.n&#101;t">» info&#64;g&#111;&#121;ip&#112;i.&#110;&#101;&#116;</a></span>

      .service
        p
          <a href="https://goyippi.net/datenschutz/">Privacy Policy</a> <a href="https://goyippi.net/impressum/">Imprint</a>

script(src='https://cdn.jsdelivr.net/gh/jquery/jquery@1.12.4/dist/jquery.min.js', defer)
script(src='https://cdn.jsdelivr.net/gh/jashkenas/underscore@1.8.3/underscore.min.js', defer)
script(src='assets/js/gh3.js', defer)
script(src='assets/js/functions.js', defer)
