//- styles.pug
doctype html
html.no-js(lang='en-US')
    include ./pug-includes/html-header.pug
    body
        include ./pug-includes/header.pug
        include ./pug-includes/content.pug
        include ./pug-includes/footer.pug
