//- styles.jade
doctype html
html.no-js
    include ./jade-includes/html-header.jade
    body
        include ./jade-includes/header.jade
        include ./jade-includes/content.jade
        include ./jade-includes/footer.jade
